{
  "root": true,
  "extends": ["@nuxtjs", "plugin:lodash-template/base"],
  "overrides": [
    {
      "files": "*.js",
      "processor": "lodash-template/script",
      "rules": {
        "lodash-template/no-empty-template-tag": "error",
        "lodash-template/no-invalid-template-interpolation": "error",
        "lodash-template/no-semi-in-template-interpolation": "error",
        "lodash-template/no-irregular-whitespace": "error",
        "lodash-template/no-multi-spaces-in-script": "error",
        "lodash-template/script-indent": "error",
        "lodash-template/template-tag-spacing": "error"
      },
      "parserOptions": {
        "parser": "vue-eslint-parser",
        "sourceType": "module",
        "parserOptions": {
            "ecmaVersion": 2019
        },
      },
      "globals": {
        "options": true,
        "serialize": true,
        "serializeFunction": true
      }
    }
  ]
}
