@media screen and (min-width:400px) and ( max-width:450px) {
  .navbar .site-name {
    font-size: calc(1.3rem * 0.8);
  }
}

@media screen and (max-width:400px) {
  .navbar .site-name {
    font-size: calc(1.3rem * 0.6);
  }
}

.theme-container.rule-details .content__default > h1 {
  font-size: 1.8rem;

  + blockquote {
    margin-top: -15px;
    padding: 0;
    border: 0;
    font-weight: 500;
    font-size: 1.4rem;
    color: currentColor;

    ::first-letter {
      text-transform: uppercase;
    }

    p {
      line-height: 1.2;
    }
  }
}

.theme-container.playground {
  .content__default:not(.custom) {
    max-width: initial;
    margin: 0 auto;
    padding: 2rem 2.5rem;
  }

  .app {
    height: calc(100vh - 70px);
  }

  .sidebar {
  }
}
