<%_ /* global users, hobbies, occupation */ _%><div class="content"></div>

<ul>
  <%# render list of users. %>
  <%_ for (var user of users) { _%>
    <li><%= user _%></li>
  <%_ } _%>
</ul>

<div>
  <h1>My name is <%= name _%></h1>
  <p>I like <%= hobbies _%> but hate being a <%= occupation _%></p　>
</div>

