@media screen and (min-width:400px) and ( max-width:450px) {
  .navbar .site-name {
    font-size: calc(1.3rem * 0.8);
  }
}

@media screen and (max-width:400px) {
  .navbar .site-name {
    font-size: calc(1.3rem * 0.6);
  }
}

.theme-container.rule-details .content > h1 {
  font-size: 1.8rem;

  + blockquote {
    margin-top: -15px;
    padding: 0;
    border: 0;
    font-weight: 500;
    font-size: 1.4rem;
    color: currentColor;

    ::first-letter {
      text-transform: uppercase;
    }

    p {
      line-height: 1.2;
    }
  }
}

.theme-container.playground {
  .content:not(.custom) {
    max-width: initial;
    margin: 0 auto;
    padding: 2rem 2.5rem;
  }

  .sns {
    display: flex;
    > * {
      vertical-align: top !important;
      margin-left: 4px;
    }
  }

  .app {
    height: calc(100vh - 70px);

    > .main-content {
      display: flex;
      flex-wrap: wrap;
      height: calc(100% - 100px);
      border: 1px solid #cfd4db;

      > .rules-settings {
        height: 100%;
        overflow: auto;
        width: 25%;
        box-sizing: border-box;
      }

      > .editor-content {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        border-left: 1px solid #cfd4db;

        > .eslint-playground {
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          padding: 3px
        }
        > .messages {
            height: 30%;
            width: 100%;
            overflow: auto;
            box-sizing: border-box;
            border-top: 1px solid #cfd4db;
            padding: 8px;
            font-size: 12px;
        }
      }
    }
  }

  .sidebar {
  }
}
