{
  "root": true,
  "extends": ["@nuxtjs"],
  "overrides": [
    {
      "files": ["*.js"],
      "extends": ["plugin:lodash-template/recommended-with-js"],
      "parserOptions": {
        "parser": "babel-eslint"
      },
      "globals": {
        "options": true,
        "serialize": true,
        "serializeFunction": true
      }
    }
  ]
}
